[package]
name = "llrt_zlib"
description = "LLRT Module zlib"
version = "0.5.1-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[lib]
name = "llrt_zlib"
path = "src/lib.rs"

[features]
default = ["compression-c"]

compression-c = ["llrt_compression/brotli-c", "llrt_compression/flate2-c"]
compression-rust = [
  "llrt_compression/brotli-rust",
  "llrt_compression/flate2-rust",
]

[dependencies]
llrt_buffer = { version = "0.5.1-beta", path = "../llrt_buffer" }
llrt_compression = { version = "0.5.1-beta", path = "../../libs/llrt_compression", default-features = false }
llrt_context = { version = "0.5.1-beta", path = "../../libs/llrt_context" }
llrt_utils = { version = "0.5.1-beta", path = "../../libs/llrt_utils", default-features = false }
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", version = "0.9.0", default-features = false }

[dev-dependencies]
llrt_test = { path = "../../helpers/llrt_test" }
tokio = { version = "1", features = ["full"] }
