[package]
name = "llrt_zlib"
description = "LLRT Module zlib"
version = "0.3.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[lib]
name = "llrt_zlib"
path = "src/lib.rs"

[dependencies]
brotlic = { version = "0.8" }
flate2 = { version = "1", features = ["zlib-ng"], default-features = false }
llrt_buffer = { version = "0.3.0-beta", path = "../llrt_buffer" }
llrt_utils = { version = "0.3.0-beta", path = "../../llrt_utils", features = [
  "ctx",
], default-features = false }
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", rev = "3af3f46b13eb89a2694e5e4e2e73924a20fa9dd1", default-features = false }

[dev-dependencies]
llrt_test = { path = "../../llrt_test" }
tokio = { version = "1", features = ["full"] }
