.DS_Store
.idea
.yarn
.pnp*
.tmp-llrt-aws-sdk

/lib
/target
/src/bytecode_cache.rs
/example/functions/build
/slask
/VERSION
/bundle

*.zip
cdk.out
flamegraph.svg
node_modules
out.stacks
yarn-error.log
llrt-container-*
