[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
	update = none # Workaround for https://github.com/rust-lang/cargo/issues/4247

[submodule "tests/wpt/wpt"]
	path = tests/wpt/wpt
	url = https://github.com/web-platform-tests/wpt
    branch = main
	update = none # Workaround for https://github.com/rust-lang/cargo/issues/4247
