.DS_Store
.idea
.yarn
.pnp*
.tmp-llrt-aws-sdk

/lib
/target
/llrt_core/target
/llrt_core/src/bytecode_cache.rs
/example/functions/build
/slask
/VERSION
/bundle/js/__tests__

*.zip
cdk.out
flamegraph.svg
out.stacks
yarn-error.log
llrt-container-*
bootstrap

node_modules
!/fixtures/node_modules

tests/wpt/revision
/wpt
wpt_errors.tmp
