[workspace]
resolver = "2"
members = ["llrt_core", "llrt"]

[profile.flame]
inherits = "release"
strip = false
debug = true

[profile.release]
strip = true
lto = true
codegen-units = 1
opt-level = 3
panic = "abort"

[profile.test]
panic = "abort"
opt-level = 1   #required for large number parsing
