[package]
name = "llrt_fetch"
description = "LLRT Module fetch"
version = "0.7.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[lib]
name = "llrt_fetch"
path = "src/lib.rs"

[features]
default = ["http1", "http2", "compression-c", "webpki-roots"]

http1 = ["hyper/http1", "llrt_http/http1"]
http2 = ["hyper/http2", "llrt_http/http2"]

compression-c = ["llrt_compression/all-c"]
compression-rust = ["llrt_compression/all-rust"]

webpki-roots = ["llrt_http/webpki-roots"]
native-roots = ["llrt_http/native-roots"]

[dependencies]
bytes = { version = "1", default-features = false }
either = { version = "1", default-features = false }
http-body-util = { version = "0.1", default-features = false }
hyper = { version = "1", features = ["client"], default-features = false }
itoa = { version = "1", default-features = false }
llrt_abort = { version = "0.7.0-beta", path = "../llrt_abort" }
llrt_buffer = { version = "0.7.0-beta", path = "../llrt_buffer" }
llrt_compression = { version = "0.7.0-beta", path = "../../libs/llrt_compression", default-features = false }
llrt_context = { version = "0.7.0-beta", path = "../../libs/llrt_context" }
llrt_encoding = { version = "0.7.0-beta", path = "../../libs/llrt_encoding" }
llrt_http = { version = "0.7.0-beta", default-features = false, path = "../llrt_http" }
llrt_json = { version = "0.7.0-beta", path = "../../libs/llrt_json" }
llrt_url = { version = "0.7.0-beta", path = "../llrt_url" }
llrt_utils = { version = "0.7.0-beta", path = "../../libs/llrt_utils", default-features = false }
once_cell = { version = "1", features = ["std"], default-features = false }
pin-project-lite = { version = "0.2", default-features = false }
percent-encoding = { version = "2", features = [
  "std",
], default-features = false }
rand = { version = "0.10.0-rc.5", features = [
  "std",
  "thread_rng",
], default-features = false }
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", features = [
  "either",
  "std",
], version = "0.10.0", default-features = false }
tokio = { version = "1", features = [
  "macros",
  "sync",
], default-features = false }
tracing = { version = "0.1", default-features = false }

[dev-dependencies]
llrt_compression = { version = "0.7.0-beta", path = "../../libs/llrt_compression" }
llrt_test = { path = "../../libs/llrt_test" }
llrt_test_tls = { path = "../../libs/llrt_test_tls" }
wiremock = { version = "0.6", default-features = false }
