[package]
name = "llrt_fetch"
description = "LLRT Module fetch"
version = "0.8.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[lib]
name = "llrt_fetch"
path = "src/lib.rs"

[features]
default = ["http1", "http2", "compression-c", "webpki-roots", "tls-ring"]

http1 = ["hyper/http1", "llrt_http/http1"]
http2 = ["hyper/http2", "llrt_http/http2"]

compression-c = ["llrt_compression/all-c", "brotlic", "flate2/zlib-ng", "zstd"]
compression-rust = [
  "llrt_compression/all-rust",
  "brotli",
  "flate2/miniz_oxide",
  "zstd",
]

webpki-roots = ["llrt_http/webpki-roots"]
native-roots = ["llrt_http/native-roots"]

tls-ring = ["llrt_http/tls-ring", "llrt_test_tls/tls-ring"]
tls-aws-lc = ["llrt_http/tls-aws-lc", "llrt_test_tls/tls-aws-lc"]
tls-graviola = ["llrt_http/tls-graviola", "llrt_test_tls/tls-graviola"]
tls-openssl = ["llrt_http/tls-openssl", "llrt_test_tls/tls-openssl"]

[dependencies]

rquickjs = { version = "0.11", default-features = false }
brotli = { version = "8", features = [
  "std",
], default-features = false, optional = true }
brotlic = { version = "0.8", default-features = false, optional = true }
bytes = { version = "1", default-features = false }
either = { version = "1", default-features = false }
flate2 = { version = "1", default-features = false, optional = true }
http-body-util = { version = "0.1", default-features = false }
hyper = { version = "1", features = ["client"], default-features = false }
itoa = { version = "1", default-features = false }
llrt_abort = { version = "0.8.0-beta", path = "../llrt_abort" }
llrt_buffer = { version = "0.8.0-beta", path = "../llrt_buffer" }
llrt_compression = { version = "0.8.0-beta", path = "../../libs/llrt_compression", default-features = false }
llrt_context = { version = "0.8.0-beta", path = "../../libs/llrt_context" }
llrt_encoding = { version = "0.8.0-beta", path = "../../libs/llrt_encoding" }
llrt_http = { version = "0.8.0-beta", default-features = false, path = "../llrt_http" }
llrt_json = { version = "0.8.0-beta", path = "../../libs/llrt_json" }
llrt_url = { version = "0.8.0-beta", path = "../llrt_url" }
llrt_utils = { version = "0.8.0-beta", path = "../../libs/llrt_utils", default-features = false }
llrt_stream_web = { version = "0.8.0-beta", path = "../llrt_stream_web" }
once_cell = { version = "1", features = ["std"], default-features = false }
pin-project-lite = { version = "0.2", default-features = false }
percent-encoding = { version = "2", features = [
  "std",
], default-features = false }
rand = { version = "0.10.0", features = [
  "std",
  "thread_rng",
], default-features = false }
tokio = { version = "1", features = [
  "macros",
  "sync",
], default-features = false }
tracing = { version = "0.1", default-features = false }
zstd = { version = "0.13", default-features = false, optional = true }

[dev-dependencies]
llrt_compression = { version = "0.8.0-beta", path = "../../libs/llrt_compression" }
llrt_test = { path = "../../libs/llrt_test" }
llrt_test_tls = { path = "../../libs/llrt_test_tls", default-features = false }
wiremock = { version = "0.6", default-features = false }
