[package]
name = "llrt_core"
version = "0.1.15-beta"
edition = "2021"
license-file = "LICENSE"

[features]
default = ["macro"]
lambda = []
no-sdk = []
uncompressed = []
macro = ["rquickjs/macro"]

[package.metadata.patch.rquickjs-core]
version = "*"
patches = ["patches/promise-poll.patch"]

[patch.crates-io]
rquickjs-core = { path = "target/patch/rquickjs-core-0.6.2" }

[dependencies]
chrono = { version = "0.4.38", default-features = false, features = ["std"] }
quick-xml = "0.35.0"
crc32c = { version = "0.6.8" }
crc32fast = "1.4.2"
phf = "0.11.2"
md-5 = { version = "0.10.6", features = ["asm"] }
rquickjs = { version = "0.6.2", features = [
    "full-async",
    "parallel",
    "rust-alloc",
], default-features = false }
tokio = { version = "1", features = ["full"] }
tracing = { version = "0.1.40", features = ["log"] }
uuid = { version = "1.9.1", default-features = false, features = [
    "v1",
    "v3",
    "v4",
    "v5",
    "fast-rng",
] }
once_cell = "1.19.0"
tokio-context = "0.1.3"
tracing-core = "0.1.32"
webpki = "0.22.4"
async-trait = "0.1.80"
url = "2.5.2"
zstd = { version = "0.13.1", default-features = false, features = [] }
libc = "0.2.155"
base64-simd = "0.8.0"
hex-simd = "0.8.0"
socket2 = "0.5.7"
bytes = "1.6.0"
uuid-simd = "0.8.0"
simd-json = { version = "0.13.10", default-features = false, features = [
    "big-int-as-float",
] }
itoa = "1.0.11"
ryu = "1.0.18"
fxhash = "0.2.1"
hyper = { version = "1.3.1", features = ["client", "http1", "http2"] }
hyper-rustls = { version = "0.27.2", default-features = false, features = [
    "http2",
    "http1",
    "webpki-roots",
    "webpki-tokio",
    "ring",
] }
hyper-util = "0.1.5"
http-body-util = "0.1.2"
rustls = { version = "0.23.10", default-features = false, features = [
    "tls12",
    "ring",
] }
webpki-roots = "0.26.2"
tokio-rustls = { version = "0.26.0", features = [
    "tls12",
    "ring",
], default-features = false }
ring = "0.17.8"
rand = "0.8.5"
uname = "0.1.1"
flate2 = { version = "1.0.30", features = [
    "zlib-ng",
], default-features = false }
brotlic = "0.8.2"
encoding_rs = "0.8.34"
hostname-validator = "1.1.1"
regex = "1.10.5"
lazy_static = "1.5.0"

[build-dependencies]
rquickjs = { version = "0.6.2", features = [
    "full-async",
    "rust-alloc",
], default-features = false }
relative-path = "1.9.3"
tokio = { version = "1", features = ["full"] }
phf_codegen = "0.11.2"
jwalk = "0.8.1"
nanoid = "0.4.0"
cargo-patch = "0.3.2"

[dev-dependencies]
wiremock = "0.6.0"
criterion = "0.5.1"

[[bench]]
name = "json"
harness = false

[[bench]]
name = "numbers"
harness = false
