[package]
name = "llrt_core"
version = "0.2.2-beta"
edition = "2021"
license-file = "LICENSE"

[features]
default = ["macro"]
lambda = []
no-sdk = []
uncompressed = []
macro = ["rquickjs/macro"]
bindgen = ["llrt_modules/bindgen", "rquickjs/bindgen"]

[package.metadata.patch.rquickjs-core]
version = "*"
patches = ["patches/promise-poll.patch"]

[patch.crates-io]
rquickjs-core = { path = "target/patch/rquickjs-core-0.6.2" }

[dependencies]
llrt_modules = { path = "../llrt_modules", features = ["all"] }
llrt_utils = { path = "../llrt_utils", features = ["all"] }
chrono = { version = "0.4.38", default-features = false, features = ["std"] }
quick-xml = "0.36.0"
crc32c = { version = "0.6.8" }
crc32fast = "1.4.2"
phf = "0.11.2"

rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", rev = "3af3f46b13eb89a2694e5e4e2e73924a20fa9dd1", features = [
    "full-async",
    "parallel",
    "rust-alloc",
], default-features = false }
tokio = { version = "1", features = ["full"] }
tracing = { version = "0.1.40", features = ["log"] }
uuid = { version = "1.10.0", default-features = false, features = [
    "v1",
    "v3",
    "v4",
    "v5",
    "v6",
    "v7",
    "fast-rng",
] }
once_cell = "1.19.0"
tracing-core = "0.1.32"
webpki = "0.22.4"
async-trait = "0.1.81"
zstd = { version = "0.13.2", default-features = false, features = [] }
libc = "0.2.155"
bytes = "1.6.1"
uuid-simd = "0.8.0"
simd-json = { version = "0.13.10", default-features = false, features = [
    "big-int-as-float",
] }
itoa = "1.0.11"
ryu = "1.0.18"
fxhash = "0.2.1"
hyper = { version = "1.4.1", features = ["client", "http1", "http2"] }
hyper-rustls = { version = "0.27.2", default-features = false, features = [
    "http2",
    "http1",
    "webpki-roots",
    "webpki-tokio",
    "ring",
] }
hyper-util = "0.1.6"
http-body-util = "0.1.2"
rustls = { version = "0.23.11", default-features = false, features = [
    "tls12",
    "ring",
] }
webpki-roots = "0.26.3"
ring = "0.17.8"
rand = "0.8.5"
flate2 = { version = "1.0.30", features = [
    "zlib-ng",
], default-features = false }
brotlic = "0.8.2"
rustls-pemfile = "2.1.2"
home = "0.5.9"
url = "=2.5.1"
terminal_size = "0.3.0"

[target.'cfg(target_os = "windows")'.dependencies]
md-5 = { version = "0.10.6" }
[target.'cfg(not(target_os = "windows"))'.dependencies]
md-5 = { version = "0.10.6", features = ["asm"] }

[build-dependencies]
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", rev = "3af3f46b13eb89a2694e5e4e2e73924a20fa9dd1", features = [
    "full-async",
    "rust-alloc",
], default-features = false }
tokio = { version = "1", features = ["full"] }
phf_codegen = "0.11.2"
jwalk = "0.8.1"
nanoid = "0.4.0"
cargo-patch = "0.3.2"

[dev-dependencies]
wiremock = "0.6.0"
criterion = "0.5.1"

[[bench]]
name = "json"
harness = false

[[bench]]
name = "numbers"
harness = false
