[package]
name = "llrt_fs"
description = "LLRT Module fs"
version = "0.8.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[lib]
name = "llrt_fs"
path = "src/lib.rs"

[dependencies]
either = { version = "1", default-features = false }
llrt_buffer = { version = "0.8.0-beta", path = "../llrt_buffer" }
llrt_encoding = { version = "0.8.0-beta", path = "../../libs/llrt_encoding" }
llrt_path = { version = "0.8.0-beta", path = "../llrt_path" }
llrt_utils = { version = "0.8.0-beta", path = "../../libs/llrt_utils", features = [
  "fs",
], default-features = false }
rand = { version = "0.10.0", features = [
  "alloc",
  "thread_rng",
], default-features = false }
rquickjs = { version = "0.11", features = [
  "either",
], default-features = false }
tokio = { version = "1", features = [
  "fs",
  "io-util",
  "rt",
], default-features = false }

[target.'cfg(windows)'.dependencies]
junction = "1"

[dev-dependencies]
llrt_test = { path = "../../libs/llrt_test" }
