[package]
name = "llrt_fs"
description = "LLRT Module fs"
version = "0.3.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[lib]
name = "llrt_fs"
path = "src/lib.rs"

[dependencies]
either = "1"
llrt_buffer = { version = "0.3.0-beta", path = "../llrt_buffer" }
llrt_encoding = { version = "0.3.0-beta", path = "../../libs/llrt_encoding" }
llrt_path = { version = "0.3.0-beta", path = "../llrt_path" }
llrt_utils = { version = "0.3.0-beta", path = "../../libs/llrt_utils", features = [
  "fs",
], default-features = false }
ring = "0.17"
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", rev = "9e0229ab8e1780b0c947c0c2df1f692835aa63c9", features = [
  "either",
  "macro",
  "futures",
], default-features = false }
tokio = { version = "1", features = ["rt", "fs", "io-util"] }

[dev-dependencies]
llrt_test = { path = "../../libs/llrt_test" }
tokio = { version = "1", features = ["full"] }
