[package]
name = "llrt_os"
description = "LLRT Module OS"
version = "0.3.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[dependencies]
home = "0.5"
llrt_utils = { version = "0.3.0-beta", path = "../../libs/llrt_utils", default-features = false }
num_cpus = "1"
once_cell = "1"
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", rev = "3af3f46b13eb89a2694e5e4e2e73924a20fa9dd1", default-features = false }
sysinfo = { version = "0.32", features = [
  "network",
  "system",
], default-features = false }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
windows-registry = "0.2"
windows-result = "0.2"
windows-version = "0.1"

[dev-dependencies]
llrt_test = { path = "../../libs/llrt_test" }
tokio = { version = "1", features = ["full"] }
