[package]
name = "llrt_os"
description = "LLRT Module OS"
version = "0.7.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[features]
default = ["network", "statistics", "system"]

network = ["sysinfo/network", "system"]
statistics = ["system"]
system = ["sysinfo/system"]

[dependencies]
home = { version = "0.5", default-features = false }
llrt_utils = { version = "0.7.0-beta", path = "../../libs/llrt_utils", default-features = false }
num_cpus = { version = "1", default-features = false }
once_cell = { version = "1", features = ["std"], default-features = false }
rquickjs = { git = "https://github.com/DelSkayn/rquickjs.git", version = "0.10.0", features = [
  "std",
], default-features = false }

# Optional
sysinfo = { version = "0.37", default-features = false, optional = true }

[target.'cfg(unix)'.dependencies]
libc = { version = "0.2", default-features = false }
users = { version = "0.11", features = ["cache"], default-features = false }

[target.'cfg(windows)'.dependencies]
whoami = { version = "2", default-features = false }
windows-registry = { version = "0.6", features = [
  "std",
], default-features = false }
windows-result = { version = "0.4", features = [
  "std",
], default-features = false }
windows-version = { version = "0.1", default-features = false }

[dev-dependencies]
llrt_test = { path = "../../libs/llrt_test" }
tokio = { version = "1", features = ["test-util"], default-features = false }
