[target.aarch64-unknown-linux-musl]
rustflags = ["-Ctarget-feature=+lse,+crt-static", "-Ctarget-cpu=neoverse-n1"]
linker = "./linker/cc-aarch64-linux-musl"
ar = "./linker/ar"

[target.x86_64-unknown-linux-musl]
rustflags = ["-Ctarget-feature=+crt-static", "-Ctarget-cpu=haswell"]
linker = "./linker/cc-x86_64-linux-musl"
ar = "./linker/ar"

[env]
CC_aarch64_apple_darwin = "clang"
CC_x86_64_apple_darwin = "clang"
CXX_aarch64_apple_darwin = "clang"
CXX_x86_64_apple_darwin = "clang"

[build]
rustflags = ["-Zunstable-options", "-Cpanic=immediate-abort", "-Zthreads=8"]


[unstable]
build-std = ["core", "compiler_builtins", "alloc", "std", "panic_abort"]
