[target.aarch64-unknown-linux-musl]
rustflags = [
    "-Ctarget-feature=+lse,+crt-static",
    "-Ctarget-cpu=neoverse-n1",
    "-Zunstable-options",
    "-Cpanic=immediate-abort",
    "-Zpanic_abort_tests",
    "-Zthreads=8",
]
linker = "./linker/cc-aarch64-linux-musl"
ar = "./linker/ar"


[target.x86_64-unknown-linux-musl]
rustflags = [
    "-Ctarget-feature=+crt-static",
    "-Ctarget-cpu=haswell",
    "-Zunstable-options",
    "-Cpanic=immediate-abort",
    "-Zpanic_abort_tests",
    "-Zthreads=8",
]
linker = "./linker/cc-x86_64-linux-musl"
ar = "./linker/ar"

[env]
CC_aarch64_apple_darwin = "/usr/bin/clang"
CC_x86_64_apple_darwin = "/usr/bin/clang"
CXX_aarch64_apple_darwin = "/usr/bin/clang"
CXX_x86_64_apple_darwin = "/usr/bin/clang"

[unstable]
build-std = ["core", "compiler_builtins", "alloc", "std", "panic_abort"]
