[target.aarch64-unknown-linux-musl]
rustflags = ["-Ctarget-feature=+lse,+crt-static", "-Ctarget-cpu=neoverse-n1"]
linker = "./linker/cc-aarch64-linux-musl"
ar = "./linker/ar"

[target.x86_64-unknown-linux-musl]
rustflags = ["-Ctarget-feature=+crt-static", "-Ctarget-cpu=haswell"]
linker = "./linker/cc-x86_64-linux-musl"
ar = "./linker/ar"

[unstable]
#build-std = ["core", "compiler_builtins", "alloc", "std", "panic_abort"]
#build-std-features = ["panic_immediate_abort"]
