[package]
name = "llrt_modules"
description = "LLRT Modules for rquickjs"
version = "0.3.0-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[features]
default = ["all"]
all = [
  "buffer",
  "child-process",
  "crypto",
  "events",
  "exceptions",
  "fs",
  "http",
  "navigator",
  "net",
  "os",
  "path",
  "perf-hooks",
  "process",
  "timers",
  "url",
  "zlib",
]

# Modules
buffer = ["llrt_buffer"]
child-process = ["llrt_child_process"]
crypto = ["llrt_crypto"]
events = ["llrt_events"]
exceptions = ["llrt_exceptions"]
fs = ["llrt_fs"]
http = ["llrt_http"]
navigator = ["llrt_navigator"]
net = ["llrt_net"]
os = ["llrt_os"]
path = ["llrt_path"]
process = ["llrt_process"]
perf-hooks = ["llrt_perf_hooks"]
timers = ["llrt_timers"]
url = ["llrt_url"]
zlib = ["llrt_zlib"]

[dependencies]
llrt_buffer = { version = "0.3.0-beta", path = "../modules/llrt_buffer", optional = true }
llrt_child_process = { version = "0.3.0-beta", path = "../modules/llrt_child_process", optional = true }
llrt_crypto = { version = "0.3.0-beta", path = "../modules/llrt_crypto", optional = true }
llrt_events = { version = "0.3.0-beta", path = "../modules/llrt_events", optional = true }
llrt_exceptions = { version = "0.3.0-beta", path = "../modules/llrt_exceptions", optional = true }
llrt_fs = { version = "0.3.0-beta", path = "../modules/llrt_fs", optional = true }
llrt_http = { version = "0.3.0-beta", path = "../modules/llrt_http", optional = true }
llrt_navigator = { version = "0.3.0-beta", path = "../modules/llrt_navigator", optional = true }
llrt_net = { version = "0.3.0-beta", path = "../modules/llrt_net", optional = true }
llrt_os = { version = "0.3.0-beta", path = "../modules/llrt_os", optional = true }
llrt_path = { version = "0.3.0-beta", path = "../modules/llrt_path", optional = true }
llrt_process = { version = "0.3.0-beta", path = "../modules/llrt_process", optional = true }
llrt_perf_hooks = { version = "0.3.0-beta", path = "../modules/llrt_perf_hooks", optional = true }
llrt_timers = { version = "0.3.0-beta", path = "../modules/llrt_timers", optional = true }
llrt_url = { version = "0.3.0-beta", path = "../modules/llrt_url", optional = true }
llrt_utils = { version = "0.3.0-beta", path = "../libs/llrt_utils" }
llrt_zlib = { version = "0.3.0-beta", path = "../modules/llrt_zlib", optional = true }
