[package]
name = "llrt_modules"
description = "LLRT Modules for rquickjs"
version = "0.1.15-beta"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/llrt"
readme = "README.md"

[features]
default = ["all"]
all = [
  "buffer",
  "child-process",
  "events",
  "exceptions",
  "fs",
  "navigator",
  "net",
  "os",
  "path",
  "perf-hooks",
  "process",
]

buffer = ["llrt_utils/encoding"]
child-process = ["events", "__stream", "itoa"]
events = []
exceptions = []
fs = ["tokio/fs", "llrt_utils/fs", "ring", "buffer", "path"]
navigator = []
net = ["events", "__stream"]
os = [
  "libc",
  "windows-result",
  "windows-registry",
  "windows-version",
  "once_cell",
]
path = []
process = []
perf-hooks = []

__bytearray-buffer = ["tokio/sync"]
__stream = ["buffer", "__bytearray-buffer"]

[dependencies]
either = "1"
itoa = { version = "1", optional = true }
once_cell = { version = "1", optional = true }
llrt_utils = { version = "0.1.15-beta", path = "../llrt_utils", default-features = false, features = [
  "ctx",
] }
rquickjs = { version = "0.6", features = [
  "array-buffer",
  "either",
  "macro",
  "futures",
], default-features = false }
ring = { version = "0.17", optional = true }
tokio = { version = "1", features = ["rt", "io-util"] }
tracing = "0.1"

[target.'cfg(unix)'.dependencies]
libc = { version = "0.2", optional = true }

[target.'cfg(windows)'.dependencies]
windows-registry = { version = "0.2", optional = true }
windows-result = { version = "0.2", optional = true }
windows-version = { version = "0.1", optional = true }

[dev-dependencies]
nanoid = "0.4.0"
rand = "0.8.5"
tokio = { version = "1", features = ["full"] }
