* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282c34;
  color: white;
  font-size: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding: 1rem;
  height: 8rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  color: red;
  font-weight: 400;
  margin: 1em;
}

.main {
  padding: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    max-width: 600px;
  }
}
