name: Setup, Build & Test modules
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      platform:
        required: true
        type: string
      arch:
        required: true
        type: string
      toolchain:
        required: true
        type: string

jobs:
  build:
    name: ${{ inputs.arch }}-${{ inputs.platform }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Linux dependencies
        if: inputs.platform == 'linux'
        run: sudo apt-get update && sudo apt-get install -y libssl-dev pkg-config
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
      - name: Run build crates
        shell: bash
        env:
          RUSTFLAGS: ""
        run: |
          crates=$(cargo metadata --no-deps --format-version 1 --quiet | jq -r '.packages[] | select(.manifest_path | contains("modules/")) | .name')
          for crate in $crates; do
            echo "Compiling crate: $crate"
            cargo build -p "$crate"
          done
      - name: Run build all
        run: |
          cargo build -p llrt_modules
      - name: Run tests all
        run: |
          cargo test -p llrt_modules
