name: LLRT Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      fail-fast: ${{ startsWith(github.ref, 'refs/tags/') }}
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: macos-latest
            platform: darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: yarn
      - name: Install linux dependencies
        if: contains(matrix.platform, 'linux')
        run: |
          sudo apt-get -y update
          sudo apt-get -y install make
          sudo snap install zig --classic --beta
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: nightly
      - name: Install MacOS dependencies
        if: contains(matrix.platform, 'darwin')
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          brew install zig make
      - name: Install JavaScript deps
        run: |
          corepack enable
          yarn
      - name: Run tests
        run: |
          make test-ci
      - name: Make stdlib & libs
        if: contains(matrix.platform, 'linux')
        run: |
          make stdlib && make libs
      - name: Build OSX binaries
        if: contains(matrix.platform, 'darwin')
        run: |
          make release-osx
      - name: Build Linux binaries
        if: contains(matrix.platform, 'linux')
        run: |
          make release-linux
      - name: Upload changelog
        if: contains(matrix.platform, 'linux')
        uses: actions/upload-artifact@v3
        with:
          name: changelog
          path: CHANGELOG.md
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts-${{ matrix.platform }}
          path: |
            *.zip
  release:
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ./changelog/CHANGELOG.md
          prerelease: contains(github.ref, 'beta') || contains(github.ref, 'alpha') || contains(github.ref, 'rc')
          files: |
            ./artifacts-linux/llrt-lambda-x86.zip
            ./artifacts-linux/llrt-lambda-arm64.zip
            ./artifacts-linux/llrt-linux-x86.zip
            ./artifacts-linux/llrt-linux-arm64.zip
            ./artifacts-darwin/llrt-macos-x86.zip
            ./artifacts-darwin/llrt-macos-arm64.zip
