name: LLRT Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      fail-fast: ${{ startsWith(github.ref, 'refs/tags/') }}
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x86_64
          - os: ubuntu-latest
            platform: linux
            arch: aarch64
          - os: macos-latest
            platform: darwin
            arch: x86_64
          - os: macos-latest
            platform: darwin
            arch: aarch64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/setup
        with:
          platform: ${{ matrix.platform }}
          arch: ${{ matrix.arch }}
      - name: Build binaries
        run: |
          make release
      - name: Build Lambda binaries
        if: matrix.platform == 'linux'
        run: |
          make release-lambda
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.platform }}
          path: |
            *.zip
      - name: Upload changelog
        if: matrix.platform == 'linux' && matrix.arch == 'x86_64'
        uses: actions/upload-artifact@v4
        with:
          name: changelog
          path: CHANGELOG.md
  release:
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ./changelog/CHANGELOG.md
          prerelease: contains(github.ref, 'beta') || contains(github.ref, 'alpha') || contains(github.ref, 'rc')
          files: |
            ./artifacts-linux/llrt-lambda-x86.zip
            ./artifacts-linux/llrt-lambda-arm64.zip
            ./artifacts-linux/llrt-linux-x86.zip
            ./artifacts-linux/llrt-linux-arm64.zip
            ./artifacts-darwin/llrt-macos-x86.zip
            ./artifacts-darwin/llrt-macos-arm64.zip
